    <script src="/js/script.js"></script>
    <script scr="/js/modal.js"></script>
    <br> &nbsp; <br>
<div class="row" style="background-color: #55177e; color: #ffffff;">
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
        &nbsp; <br>
    Home <br>        
    Add New <br>        
    About <br>        
    Contact <br>        
    Privacy <br>        
    &nbsp; <br>    
    &nbsp; <br>    
    &copy; All Rights Reserved | 2018
    &nbsp; <br>    
    &nbsp; <br>    
    
    </div>    
    <div class="col-md-5">
            &nbsp; <br>      
            <strong>
                About 
            </strong>
            <hr>
        <p>QuoteDeziner has been designed to help you read quotations from a wide array of categories. You can also submit your own
                quotations and help the community grow. What's more, you can also generate beautiful quotation wallpapers with randomly
                selected backgrounds and fonts for your quote collection. </p>
    </div>    
    <div class="col-md-1">  
    </div>
</div>
</body>
</html>