<div class="card" style="margin-top: 20px">
        <div class="card-body">
          <h5 class="card-title">Quote of the day!</h5>
          <p class="card-text">&#8220;Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind.&#8221;</p>
          <a href="#" class="btn btn-primary">Previous</a>
        </div>
        </div>
</div>