<div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
              All Categories
            </a>
            <a href="#" class="list-group-item list-group-item-action">Inspirational</a>
            <a href="#" class="list-group-item list-group-item-action">Life</a>
            <a href="#" class="list-group-item list-group-item-action">Love</a>
            <a href="#" class="list-group-item list-group-item-action ">Funny</a>
            <a href="#" class="list-group-item list-group-item-action ">Wisdom</a>
            <a href="#" class="list-group-item list-group-item-action ">Success</a>
            <a href="#" class="list-group-item list-group-item-action ">Failure</a>
            <a href="#" class="list-group-item list-group-item-action ">Motivational</a>
            <a href="#" class="list-group-item list-group-item-action ">Sad</a>
        
</div>