<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuoteDeziner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body style="
background: url('/images/backpurple.jpg');
background-repeat:no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
">
        <div class="text-center" style="margin-top: 15%">
                <h1 class="display-3" style="color:white">Welcome to QuoteDeziner!</h1>
                <div>
                    <p style="color: white; margin-top: 20px">
                                              QuoteDeziner has been designed to help you read quotations
                                              from a wide array of categories. You can also submit your own <br>
                                              quotations and help the community grow. What's more, you can
                                              also generate beautiful quotation wallpapers with randomly <br>
                                              selected backgrounds and fonts for your quote collection. 
                </div>
                <div>
                        <a class="btn btn-outline-light" href="/quotes">JOIN THE FUN</a>
                </div>
        </div>
</body>
</html>