<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
                <% include ./partials/sidebar %>
        </div>
        <div class="col-md-9">
                <div class="alert alert-success" role="alert">
                    <img src="/images/check.png">
                    Quote posted successfully! <br> <br>
                    <a href="/quotes" class="btn btn-success">View Quotes</a>
                </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>
